{{ style('/custom/css/loader.css') }}

    <div id="loader">
        <div id="icon"></div>
        <!--<div id="oops">
            <strong>OOPS!</strong>
            <p><span id='err'>Someting went wrong and we couldn't process your request</span></p>
            <a href="#"><input type="button" class="btn btn-outline-dark pull-right" value="Go back!"></a>
        </div>-->
    </div>

{{ script('/custom/js/loader.js') }}
